.logo {
    padding-left: 10%;
}

.img-education {
    max-width: 30%;
}

.img-experience{
    max-width: 30%;
}

.education-tag {
    padding-left: 5%;
}

.line-education{
    height: 5px;
    width: 13%;
    background-color: #F7DB8F;
    border-radius: 50%;
}

.time-line-connector{
    background-image: linear-gradient(to top, #1876D2, white);
}

.time-dot {
    color: #848EA8;
}

.name-profession{
    font-weight: bold;

}

.name-category {
    color: #848EA8;
    font-weight: bold;
    padding-left: 10%;
}

.name-skills {
    color: #848EA8;
    
}

.skills {
    padding-top: 5%;
}
